<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/aboutuser.css') }}">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="LOGOT">
                <a href="#" class="LOGOTIP">AllForStudents</a>
            </div>
            <div class="nav-items">
                <a href="#" class="nav-item">Личный Профиль</a>
            </div>
            <div class="userlogo">
                <div class="head"></div>
                <a href="/" class="what">Вернуться</a> <!-- Добавляем ссылку -->
            </div>
            
        </nav>
        
    </header>

    <div class="LIST">
        <div class="cont">
            <h1 class="myprofile">Мой профиль</h1>
            <div class="seccont">
                <form class="profile-form">
                    <div class="input-group">
                        <label for="fullname">ФИО</label>
                        <input type="text" id="fullname" name="fullname" value="{{item.name}} {{item.surname}}" required>
                    </div>

                    <div class="input-group">
                        <label>Пол</label>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="gender" value="male" {% if item.sex == 1 %} checked {% endif %}>
                                Мужской
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female" {% if item.sex == 0 %} checked {% endif %}>
                                Женский
                            </label>
                        </div>
                        
                        <div class="input-group">
                            <label for="personality">Курс</label>
                            <select id="course" name="course" required>
                                <option value="">Выберите</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                
                            </select>
                        </div>
                    </div>

                    <!-- <div class="input-group">
                        <label for="age">Возраст</label>
                        <input type="number" id="age" name="age" min="16" max="99" required>
                    </div>

                    <div class="input-group">
                        <label for="personality">Тип личности</label>
                        <select id="personality" name="personality" required>
                            <option value="">Выберите тип</option>
                            <option value="introvert">Интроверт</option>
                            <option value="extrovert">Экстраверт</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="sociophobia">Умение готовить</label>
                        <select id="sociophobia" name="sociophobia" required>
                            <option value="">Выберите вариант</option>
                            <option value="yes">Да</option>
                            <option value="no">Нет</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="sociophobia">Добрый/Злой</label>
                        <select id="sociophobia" name="sociophobia" required>
                            <option value="">Выберите вариант</option>
                            <option value="yes">Добрый</option>
                            <option value="no">Злой</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="sociophobia">Знак зодиака</label>
                        <select id="sociophobia" name="sociophobia" required>
                            <option value="">Выберите вариант</option>
                            <option value="yes">Реально..?</option>
                            <option value="no">Не страдай фигней пж..</option>
                        </select>
                    </div> -->

                    <button type="submit" class="save-btn">Сохранить</button>
                </form>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2 class="myapplications">Мои заявки</h2>
            </div>
            <div>
                {% if applications %}
                <div class="list-group">
                    {% for app in applications %}
                        <div class="list-group-item" style="margin-bottom: 10px; padding: 10px; border-radius: 5px; background-color: #f8f9fa; display: flex;
                            flex-direction: column; align-items: center;">
                            <h5>Заявка № {{ app.id }}</h5>
                            {% if app.status == '0' %}
                                <p style="color: orange;"><strong>Статус:</strong> Ожидает подтверждения</p>
                            {% elif app.status == '1' %}
                                <p style="color: green;"><strong>Статус:</strong> Подтверждено</p>
                            {% elif app.status == '2' %}
                                <p style="color: red;"><strong>Статус:</strong> Отклонено</p>
                            {% else %}
                                <p style="color: gray;"><strong>Статус:</strong> Неизвестный статус</p>
                            {% endif %}
                            <p><strong>Дата въезда:</strong> {{ app.date_entr if app.date_entr is not none else 'Не указана' }}</p>
                            <p><strong>Дата выезда:</strong> {{ app.date_exit if app.date_exit is not none else 'Не указана' }}</p>
                            <p><strong>Комната ID:</strong> {{ app.room_id }}</p>
                        </div>
                {% endfor %}
                </div>
                {% else %}
                <p>У студента нет активных заявок на переселение.</p>
                {% endif %}
            </div>
        </div>

    </div>
    

    <script>
        document.querySelector('.profile-form').addEventListener('submit', function(e) {
            e.preventDefault();
            
            // Сохраняем данные в localStorage
            const fullName = document.getElementById('fullname').value;
            localStorage.setItem('userFullName', fullName);
            // console.log('Данные сохранены:', fullName);
            
            // Перенаправляем на главную страницу
            window.location.href = "/me";
        });
        </script>

</body>

</html>