<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#1c180d] tracking-light text-[32px] font-bold leading-tight">Найдите свою идеальную комнату</p>
                <p class="text-[#9e8747] text-sm font-normal leading-normal">
                  Используйте фильтры ниже, чтобы сузить варианты и найти комнату, которая соответствует вашим потребностям и предпочтениям.
                </p>
              </div>
            </div>
            <h3 class="text-[#1c180d] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Размер комнаты</h3>
            <div class="flex flex-wrap gap-3 p-4">
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#e9e2ce] px-4 h-11 text-[#1c180d] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#fac638] relative cursor-pointer"
              >
                Маленькая
                <input type="radio" class="invisible absolute" name="e56177ec-3c42-4f7a-973c-fd2cf17030e0" />
              </label>
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#e9e2ce] px-4 h-11 text-[#1c180d] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#fac638] relative cursor-pointer"
              >
                Средняя
                <input type="radio" class="invisible absolute" name="e56177ec-3c42-4f7a-973c-fd2cf17030e0" />
              </label>
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#e9e2ce] px-4 h-11 text-[#1c180d] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#fac638] relative cursor-pointer"
              >
                Большая
                <input type="radio" class="invisible absolute" name="e56177ec-3c42-4f7a-973c-fd2cf17030e0" />
              </label>
            <div class="flex px-4 py-20 justify-end">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#fac638] text-[#1c180d] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Применить фильтры</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
