<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/CSS/finding.css">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="LOGOT">
                <a href="#" class="LOGOTIP">AllForStudents</a>
            </div>
            <div class="nav-items">
                <a href="#" class="nav-item">Выберите общежитие:</a>
            </div>
            <div class="userlogo">
                <div class="head"></div>
                <a href="/" class="what">Вернуться</a> <!-- Добавляем ссылку -->
            </div>
        </nav>
    </header>

    <div class="LIST">
        <div class="FIRHOUSE">
            <img src="../../static/CSS/img/Campus FEFU.jpg" alt="1 ОБЩЕЖИТИЕ" class="house-img">
            <div class="FIRWHITE">
                <h2>ОБЩЕЖИТИЕ №1 
                    / 135 свободных мест</h2>
                <h4>Современное 10-этажное общежитие предлагает 500 комфортабельных комнат, рассчитанных на 1-3 человек, с продуманной планировкой и звукоизоляцией.
                    На 8 этажах расположены 400 уютных номеров с отдельными санузлами, а два верхних уровня занимают просторные студии с кухонными уголками.
                    Каждый из 250 жилых блоков включает 2-4 комнаты...
                </h4>
            </div>
        </div>
        
        <div class="SECHOUSE">
            <img src="../../static/CSS/img/Campus FEFU.jpg" alt="2 ОБЩЕЖИТИЕ" class="house-img">
            <div class="SECWHITE">
                <h2>ОБЩЕЖИТИЕ №2 / 257 свободных мест</h2>
                <h4>Общежитие для студентов состоит из пяти этажей, каждый из которых предлагает комфортные условия для проживания. На каждом этаже расположены двух- и трехместные комнаты, оборудованные удобными кроватями, письменными столами и шкафами для личных вещей. Санитарные узлы с душевыми кабинами находятся на каждом этаже, что обеспечивает...</h4>
            </div>
        </div>
    </div>
    <div class="BUTTONS">
        <a href="../HTML/application.html" class="take-link">
            <h1 class="first">Забронировать</h1>
          </a>
        <a href="../HTML/application.html" class="take-link">
            <h1 class="second">Забронировать</h1>
          </a>
    </div>
</body>

</html>