<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/CSS/finding.css">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <div class="LOGOT">
                <a href="/" class="LOGOTIP">AllForStudents</a>
            </div>
            <div class="nav-items">
                <a href="#" class="nav-item">Выберите общежитие:</a>
            </div>
            <div class="userlogo">
                <div class="head"></div>
                <a href="/" class="what">Вернуться</a> <!-- Добавляем ссылку -->
            </div>
        </nav>
    </header>

    <div class="LIST">
        <div class="BUTTONS">
            {% for hostel in hostels %}
                <div class="FIRHOUSE">
                    <a href="/rooms?hostel={{ hostel.id }}">
                        <img src="../../static/CSS/img/Campus FEFU.jpg" alt="ОБЩЕЖИТИЕ" class="house-img">
                        <div class="FIRWHITE">
                            <h2>ОБЩЕЖИТИЕ №{{ hostel.id }} / {{ free_places[hostel.id] }} свободных мест</h2>
                            <h4>
                                {% if hostel.description %}
                                    {{ hostel.description }}
                                {% else %}
                                    Современное общежитие предлагает комфортабельные комнаты с продуманной планировкой.
                                {% endif %}
                            </h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>