<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Помощь</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#1c180d] tracking-light text-[32px] font-bold leading-tight min-w-72">Свяжитесь с нами</p></div>
            <p class="text-[#1c180d] text-base font-normal leading-normal pb-3 pt-1 px-4">
              По любым вопросам или помощи, пожалуйста, свяжитесь с нашей командой поддержки через Telegram. Наш бот доступен 24/7, чтобы помочь вам с вашим общежитием и любыми связанными вопросами.
            </p
            <div class="flex px-4 py-3 justify-start">
              <a href="https://t.me/AllForStudents_help_bot"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#fac638] text-[#1c180d] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                <span class="truncate">Свяжитесь с поддержкой через бота</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
